@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        .promo {
            &__header {
                font-size: 38px;
            }
            &__subheader {
                font-size: 20px;
            }
        }
        .title {
            &_left {
                font-size: 30px;
            }
        }
        .carousel {
            &__inner {
                width: 100%;
            }
        }            
    }    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        .header {
            &__logo {
                width: 180px;
            }
            &__official {
                font-size: 11px;
                span {
                    font-size: 16px;
                }
            }
            &__phone {
                font-size: 16px;
            }
        }
        .promo {
            &__header {
                font-size: 36px;
            }
        }
        .title {
            font-size: 24px;
        }
        .advantages {
            &__item {
                max-width: 170px;
            }
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                font-size: 13px;
            }
        }
        .catalog{
            &__tab {
                font-size: 15px;
            }
        }
        .reviews{
            &-item{
                &__photo{
                    width: 155px;
                    height: 155px;
                }
                &__descr{
                    padding: 0 30px 0 30px;
                }
                &__text{
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
        .title {
            font-size: 15px;
            &_left {
                font-size: 13px;
            }
        }
        .header {
            flex-direction: column;
            &__logo {
                width: 70%;
                text-align: center;
            }
            &__official {
                font-size: 16px;
                margin-top: 10px;
            }
            &__contacts {
                margin-top: 10px;
                align-items: center;
            }
        }        
        .promo {
            &__wrapper {
                margin-top: 45px;
            }
            &__header {
                font-size: 28px;
            }
            &__subheader {
                font-size: 15px;
            }
            &__icon {
                display: flex;
                width: 100%;
                margin-top: 20px;
                padding: 0 15px;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                img {
                    margin: 0;
                }                
            }
            &__icons {
                flex-direction: column;
                width: 100%;
                margin-top: 20px;
            }
            &__link {
                font-size: 14px;
            }
        }
        .advantages {
            &__wrapper {
                margin-top: 0;
                flex-direction: column;
            }
            &__item {
                max-width: 100%;
                margin-top: 36px;
            }
            &__subtitle {
                margin-top: 24px;
            }
            &__descr {
                margin-top: 15px;
            }
        }
        .consultation {
            &__descr {
                font-size: 13px;
                margin-top: 36px;
            }
        }
        .feed-form {
            width: 100%;
        }
        .button {
            &_submit {
                font-size: 14px;
            }
            &_main {
                font-size: 14px;
                width: 100%;
            }
        }
        .catalog {
            &__tab {
                width: 180px;
                height: 40px;
                line-height: 40px;
                border-radius: 5px;
                margin: 0 2px;
                font-size: 10px;
                transform: none;
                div {
                    transform: none;
                }
            }
        }
        .catalog-item {
            &__price {
                font-size: 16px;

            }
        }
        .reviews{
            &-item{
                flex-direction: column;
                align-items: center;
                &__photo{
                    width: 155px;
                    height: 155px;
                }
                &__descr{
                    padding: 0 15px 0 15px;
                }
                &__name{
                    margin-top: 20px;
                    font-size: 16px;
                    text-align: center;
                }
                &__text{
                    font-size: 13px;
                }
            }
        }
        .footer{
            &__contact{
                width: 111%;
                padding: 30px;
            }
            &__address{
                font-size: 16px;
            }
        }
    }   
}