.title {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: $title_text_color;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: #ffffff;
        text-align: left;
    }
}